.wrapper_error {
    display: flex;
    flex-direction: column;
}

.description_error {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: red;
}

.description_error > * {
    display: block;
    margin: 0 auto;
}

.error__image {
    margin: 4% auto 0;
    object-fit: cover;
    width: 256px;
    height: 256px;
}

.error__code {
    font-size: 6em;
}

.error__text, .error__header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.error__button {
    margin: 10px auto 25px;
}
