body {
    min-height: 100vh;
    background-color: #F3F3F3;
}
.content-align>td, .content-align>th {
    text-align: left;
}
.title {
    margin: 20px;
    text-align: center;
}
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin: 0 25px 25px 25px;
}
tr:hover {
    font-weight: bolder;
}
