.content-align > td, .content-align > th {
    text-align: left;
}

.title {
    margin: 20px;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 25px 25px 25px;
}

.header-tr {
    color: black;
}

.modal-overflow {
    height: 300px;
    overflow-y: scroll;
}

.export_to_xlsx__button {
    margin: 10px 0 10px 25px;
}
