.content-align > td, .content-align > th {
    text-align: left;
}

.title {
    margin: 20px;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 25px 25px 25px;
}

.modal-overflow {
    height: 30vh;
}

.export_to_xlsx__button {
    margin: 10px 0 10px 25px;
}
