body {
    background: #f8f8f8;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form-control + label {
    opacity: .65;
}

#profile_form #id_email {
    background-color: #e9ecef;
}