/*.container {*/
/*    height: 100vh;*/
/*}*/
body {
    background: #f8f8f8;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 0 0 auto;
}

.custom-color {
    background-color: #91F88F;
}

.table-color {
    background-color: rgba(145, 248, 143, 0.7);
}

.container {
    flex: 1 0 auto;
}

footer {
    min-height: 60px;
    background-color: #252525;
    color: white;
    flex: 0 0 auto;
    max-height: 70px;
}

.icon {
    max-width: 50px;
    max-height: 50px;
    background-size: cover;
}

.form-control:focus, .form-select:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form-control + label {
    opacity: .65;
}

#profile_form #id_email {
    background-color: #e9ecef;
}

.errorlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-brand:hover {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

a {
    color: #000;
}

.search-icon {
    vertical-align: -0.2em;
    font-size: 1.3em;
}

.soil-icon {
    border: none;
    background: none;
}

.soil-icon:hover {
    color: #28a745;
}
