{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'web/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/style.css' %}">
    {% endblock %}

    <title>{% block title %}Soil DB{% endblock %}</title>
</head>
<body>
<div class="wrapper">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light custom-color">
          <div class="container-fluid">
            <a class="navbar-brand" title='К растениям' href="{% url 'plants' %}"><img src="{% static "favicon.ico" %}" alt="" class="icon"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {% include "web/snippets/navbar.html" %}
              </ul>
            </div>
          </div>
        </nav>
    </header>
    <div class="container">
        {% block body %}{% endblock %}
        {% block messages %}
          {% include "messages.html" %}
        {% endblock %}
    </div>
    <footer class="d-flex align-items-center justify-content-center">
        © KFU ITIS, 2022
    </footer>
</div>
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'web/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.1/dist/iconify-icon.min.js"></script>
    <script src="{% static 'web/script.js' %}?"></script>
{% endblock %}
</body>
</html>