{% extends "web/base.html" %}
{% load static %}
{% block title %}
    Внутренняя ошибка сервера
{% endblock %}
{% block body %}
    <main class="wrapper_500">
        <div class="description_500">
            <img src="{% static "error500.png" %}" alt="" class="internal_server_error__image">
            <span class="internal_server_error__code">{{ status_code }}</span>
            <span class="internal_server_error__header">
                Внутренняя ошибка сервера.
            </span>
            <span class="internal_server_error__text">
                На сервере произошла непредвиденная ошибка.
                <br>
                Пожалуйста, подождите: вскоре она будет исправлена.
            </span>
        </div>
    </main>
{% endblock %}