{% extends 'web/base.html' %}
{% load static %}
{% load soil %}
{% block title %}
    {% if number %}
        Редактирование растения
    {% else %}
        Добавление растения
    {% endif %}
{% endblock %}
{% block body %}
    {% if not is_success %}
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card w-75 my-4">
                <div class="card-body">
                    <h5 class="card-title">{% if number %}Редактирование{% else %}
                        Новое растение{% endif %}
                    </h5>
                    <form action="" method="post" id="plant_form">
                        {% csrf_token %}
                        {% separate_form form "2" as plant_form %}
                        {% include 'web/form/form_with_errors.html' with form=plant_form.0 %}
                        {% suggestions form_classification taxon_name %}
                        {% include 'web/form/form_with_errors.html' with form=plant_form.1 %}
                        {% include 'web/form/form_with_errors.html' with form=attr_form_view %}
                        <button type="button" class="btn btn-outline-success mt-3" data-bs-toggle="modal"
                                data-bs-target="#attribute_modal_window">
                            Добавить новые атрибуты
                        </button>
                        <br>
                        <button type="submit" class="btn btn-success mt-3">{% if number %}Сохранить{% else %}
                            Добавить{% endif %}
                        </button>
                    </form>
                    <br>
                </div>
            </div>
        </div>


        <!-- Модальное окно -->
        <div class="modal fade" id="attribute_modal_window" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Добавить атрибут</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" id="attr_form">
                            {% csrf_token %}
                            {% include 'web/form/form_with_errors.html' with form=attr_form %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="add_button" type="button" class="btn btn-success">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Вы успешно добавили растение</h1>
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        let path_ajax = "{% url 'ajax_response' %}"
    </script>
    <script src="{% static 'web/plant_crud.js' %}"></script>
{% endblock %}
