{% extends 'web/base.html' %}
{% block body %}
    <h1>Страница растения {{ name }} ({{ latin_name }})</h1>
    <table class="table table-bordered table-success">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Характеристика</th>
                <th scope="col">Значение</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in plant.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}