{% extends "web/base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'web/plant.css' %}?">
{% endblock %}

{% block body %}
    {% include "web/snippets/popup-xlsx-form.html" %}
    <div class="flex-wrapper">
        <div class="row m-1">
            <div class="col-9 mx-3"></div>
            <button type="button" class="btn btn-success export_to_xlsx__button float-end col-2" data-bs-toggle="modal" data-bs-target="#ModalXlsx">Экспортировать в xlsx</button>
        </div>
        <table class="table table-bordered table-color border-light rounded-4">
            <thead class="thead-dark">
            <tr class="content-align header-tr">
                <th scope="col">Уникальный номер</th>
                <th scope="col">Наименование растения</th>
                <th scope="col">Латинское наименование растения</th>
                <th scope="col">Род</th>
                <th scope="col">Наименование организации</th>
            </tr>
            </thead>
            <tbody>
            {% for plant in plants %}
                <tr class="content-align">
                    <td><a href="{% url "plant" plant.number %}" style="color: #000">{{ plant.number }}</a></td>
                    <td>{{ plant.name }}</td>
                    <td>{{ plant.latin_name }}</td>
                    <td>{{ plant.genus }}</td>
                    <td>{{ plant.organization }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}