{% extends "web/base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'web/css/plant.css' %}?">
{% endblock %}

{% block body %}
    {% include "web/snippets/popup-xlsx-form.html" %}
    <div id="app"></div>
    <link rel="stylesheet" href="{% static 'web/frontend_vue/dist/assets/index.css' %}?">
    <script type="module" src="{% static 'web/frontend_vue/dist/assets/index.js' %}?"></script>
{% endblock %}