{% extends 'web/base.html' %}
{% load static %}
{% load soil %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'web/plant.css' %}">
{% endblock %}

{% block body %}
    <div class="flex-wrapper">
        <div class="row">
            <div class="col-10">
                <h1 class="title">Страница растения {{ name }} ({{ latin_name }})</h1>
            </div>
            {% if plant.Организация == request.user.organization %}
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-success"
                            onclick="document.location='{% url 'plant_update' plant.Идентификатор %}'">Редактировать
                        растение
                    </button>
                    <button class="title h1 mx-1 plant-icon" data-bs-toggle="modal"
                            data-bs-target="#modal_delete" type="button" title="Удалить растение">
                        <iconify-icon icon="mdi:garbage-can"></iconify-icon>
                    </button>

                </div>

            {% endif %}
        </div>
        <table class="table table-bordered table-success">
            <thead class="thead-dark">
            <tr class="content-align">
                <th scope="col">Характеристика</th>
                <th scope="col">Значение</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in plant.items %}
                <tr class="content-align">
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="modal fade" id="modal_delete" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Удаление растения: {{ plant.Вид }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>Вы действительно хотите удалить <strong>{{ plant.Вид }}</strong>?</span>
                </div>
                <div class="modal-footer">
                    <form method="POST" action="{% url 'plants_delete' plant.Идентификатор %}">
                        {% csrf_token %}
                        <button class="btn btn-success">Подтвердить</button>
                    </form>
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Отмена
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}