{% extends "web/base.html" %}

{% block title %}Профиль{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card my-4">
                    <div class="card-body">
                        <h4 class="card-title">Профиль</h4>
                        <form method="post" class="mt-4 mb-2" id="profile_form">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-floating mb-3">
                                    {{ field }}
                                    {{ field.label_tag }}
                                </div>
                            {% endfor %}
                            <div class="row">
                                <button type="button" class="btn btn-success col mx-3">
                                    Сохранить
                                </button>
                                <button type="reset" class="btn btn-secondary col me-3">
                                    Сбросить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}