{% extends "web/base.html" %}
{% load static %}
{% load soil %}

{% block title %}Профиль{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card my-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10"><h4 class="card-title">Профиль</h4></div>
                            <div class="col-2">
                                <a href="{% url 'logout' %}" class="h3 mx-1 soil-icon float-end" title="Выйти">
                                    <iconify-icon icon="material-symbols:logout-rounded"></iconify-icon>
                                </a>
                            </div>
                        </div>
                        <form method="post" class="mb-2" id="profile_form">
                            {% csrf_token %}
                            {% include 'web/form/form_with_errors.html' %}
                            <div class="row mt-3">
                                <button type="button" id="save" class="btn btn-success col mx-3">
                                    Сохранить
                                </button>
                                <button type="reset" class="btn btn-secondary col me-3">
                                    Сбросить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    {% toast "success_toast" "Успешно!" "text-success" "Данные вашего профиля были успешно изменены" %}
    {% toast "info_toast" "Уведомление!" "text-info" "Письмо с инстукциями по изменению пароля отправлены вам на почту" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        let profile_url = "{% url 'profile' %}"
    </script>
    <script src="{% static 'web/profile.js' %}?">
    </script>
{% endblock %}